* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Fontface Types of documents
*/

@font-face {
  font-family: RobloxBlackRound;
  src: url(fonts/Roblox-Black-Round.ttf);
  font-weight: bold;
}

@font-face {
  font-family: RobloxFont;
  src: url(fonts/Roblox-Font.ttf);
  font-weight: bold;
}

@font-face {
  font-family: MontserratLight;
  src: url(fonts/Montserrat-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: MontserratRegular;
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(fonts/Montserrat-Medium.ttf);
}

/* Fontface Types of documents
*/

:root {
  --sm-primary-color: #fff385;
  --sm-secondary-color: #1F2124;
  --sm-body: #131518;
  --sm-text: #888888;
  /* Font Families Variables */
  --sm-heading: RobloxBlackRound;
  --sm-subheading: MontserratMedium;
  --sm-body-text: MontserratLight;
  --sm-text-regular: MontserratRegular;
}

.container-fluid {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

body {
  background-color: var(--sm-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sm-heading);
  color: var(--sm-primary-color);
}

h1,
.h1 {
  font-size: 54px;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 46px;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 36px;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 30px;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 28px;
  font-weight: 700;
}

h6,
.h6 {
  font-size: 24px;
  font-weight: 700;
}

p,
span,
a,
div {
  font-family: var(--sm-body-text);
}

a {
  color: var(--sm-primary-color);
}

.header-container-main {
  position: relative;
  background: url(assets/img/Hero-BG.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 900px;
  height: 120vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-container {
  transition: 0.3s ease;
  z-index: 59;
}

.header-container .container {
  padding: 0;
}

/* Sticky Header */
.header-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 78;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.hero-section {
  padding-top: 160px;
}

.header-container.sticky {
  background-color: #131518;
  border-bottom: 2px solid var(--sm-primary-color);
}

.header-container.sticky .header-box {
  padding: 12px;
}

.header-container.sticky .header-box .header-logo {
  height: 55px;
}

.hero-section {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  max-height: calc(900px - 134px);
  height: calc(120vh - 134px);
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box {
  padding: 25px 20px;
  transition: .3s ease-in;
}

.header-box .header-logo {
  height: 70px;
}

.nav-links .nav-list {
  display: flex;
  align-items: center;
  justify-content: start;
  list-style: none;
  transition: 0.3s;
}

.nav-links .nav-list .nav-link {
  padding: 5px;
  margin-left: 15px;
  text-decoration: none;
  color: var(--sm-primary-color);
  font-family: var(--sm-body-text);
}

.nav-link-open {
  color: var(--sm-primary-color);
  display: none;
}

.hero-first-img {
  max-width: 800px;
  width: 100%;
  height: auto;
}

.vectar-corner {
  width: 180px;
  height: auto;
  position: absolute;
  bottom: 0;
  opacity: 0.08;
  mix-blend-mode: hard-light;
}

.vectar-corner.left {
  left: 0;
}

.vectar-corner.right {
  right: 0;
}

.symbol-lines {
  position: relative;
  width: 100%;
  max-height: 80px;
  min-height: 50px;
  background: url(/assets/img/Line1.png);
  background-position: center;
  background-size: cover;
  margin: 10px auto;
}

/* .symbol-lines-outer

.inner-lines */
.symbol-lines-main-outer {
  padding: 2px 0;
  margin: 10px 0;
  width: 100%;
  background: linear-gradient(270.06deg, #DA9E16 14.47%, #FFEC79 55.08%, #DA9E16 84.61%);
  animation: size 3s infinite linear;
  background-position-x: 0;
}

.symbol-lines-outer {
  width: 100%;
  padding: 5px 0;
  height: 50px;
  background-color: var(--sm-secondary-color);
  background-repeat: no-repeat;
  background-position-x: 0;
}

/* .inner-lines {
  width: 100%;
  height: 40px;
  background: linear-gradient(270.06deg, #DA9E16 14.47%, #FFEC79 55.08%, #DA9E16 84.61%);
  background-size: cover;
  background-position: center;
  animation: size 3s infinite linear;
  mask-image: url(assets/img/bar.png);
  -webkit-mask-image: url(assets/img/bar.png);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: repeat-x;
  mask-position: center;
  -webkit-mask-position: center;
} */

.inner-lines {
  width: 100%;
  height: 40px;
  /* padding: 1rem; */
  background: url(assets/img/aymbolic-lines.png);
  background-size: cover;
  background-position: center;
  /* animation: size 3s infinite linear; */
}

/* ANOPISS TOKEN Section */

.half-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.half-flex .col {
  width: 50%;
}

.half-flex .text-col {
  padding-right: 10px;
}

.upper-heading {
  font-size: 20px;
  font-family: var(--sm-body-text);
  color: var(--sm-primary-color);
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.6;
}

.half-flex .col h1 {
  font-size: 54px;
  color: var(--sm-primary-color);
  margin-bottom: 30px;
}

.grad-heading {
  font-size: 54px;
  background: -webkit-linear-gradient(180.06deg, #DA9E16 14.47%, #FFEC79 55.08%, #DA9E16 84.61%),
    linear-gradient(180deg, #DA9E16 7.29%, #FFEC79 32.95%, #DA9E16 73.68%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.half-flex .col p {
  margin-bottom: 30px;
  color: var(--sm-text);
  font-size: 18px;
  line-height: 1.4;
  font-family: var(--sm-body-text);
}

.half-flex .col .btn-img {
  width: 180px;
  filter: drop-shadow(5px 5px 25px #00000080);
}

.half-flex .img-col {
  padding: 20px 0;
  text-align: center;
}

.half-flex .img-col .side-img {
  width: 100%;
  margin: 0 auto;
}

.contain-anopiss-3 {
  background-image: url(assets/img/anopiss-bg-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.anopiss-3.half-flex .img-col .side-img {
  max-width: 308px;
  position: relative;
}

.anopiss-3.half-flex .img-col .anopiss-img-border {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 10px;
  background: var(--sm-body);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .5), 0px 0px 25px rgba(0, 0, 0, .5);
}

.anopiss-4.half-flex .img-col .side-img {
  max-width: 410px;
}

/* ANOPISS Roadmap # 3 */
.anopiss-roadmap {
  min-height: 160vh;
  background-image: url(assets/img/anopiss-roadmap-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
}

.anopiss-roadmap-text {
  text-align: center;
}

.anopiss-roadmap-text p{
  max-width: 768px;
  margin: 20px auto;
  text-align: center;
  color: var(--sm-text);
}

.anopiss-roadmap-boxed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.anopiss-roadmap-boxed .roadmap-col {
  width: calc(100% / 3);
  aspect-ratio: 143 / 88;
  padding: 25px;
  position: relative;
  margin: 20px;
}


.border-right {
  position: absolute;
  top: 0;
  right: -20px;
  width: 1px;
  height: 70%;
  background-color: var(--sm-primary-color);
}

.border-right.bottom {
  bottom: 0;
  top: auto;
}

.border-bottom.last,
.border-bottom.last.second {
  display: none;
}

.border-bottom {
  width: 70%;
  height: 1px;
  background-color: var(--sm-primary-color);
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.art-circle {
  position: absolute;
  bottom: -20px;
  right: -20px;
  transform: translate(50%, 50%);
  width: 120px;
}

.art-circle.second {
  transform: translate(-50%, 50%);
  left: -20px;
}

.container.giant-container {
  max-width: 1380px;
}

.roadmap-q-box {
  background-image: url(assets/img/art-box.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.roadmap-q-box .q-box-heading {
  font-size: 24px;
  color: var(--sm-primary-color);
}

.roadmap-q-box ul {
  margin-top: 12px;
  color: var(--sm-text);
  list-style: none;
}

.roadmap-q-box ul li::before {
  content: attr(data-icon);
  margin-right: 6px;
}

.roadmap-col {
  width: 100%;
}

.anopiss-roadmap-avatars {
  width: 100%;
  min-height: 60vh;
  background-image: url(assets/img/roadmap-bottom.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}


/* ANOPISS Section 6 */
.anopiss-team-contain {
  background-image: url(assets/img/anopiss-team-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.anopiss-team-box .anopiss-team-text {
  text-align: center;
}

.anopiss-team-box {
  min-height: 100vh;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
}

.anopiss-team-box .anopiss-team-text .upper-heading {
  letter-spacing: 20px;
}

.anopiss-team-box .anopiss-team-text h1 {
  font-size: 72px;
}

.anopiss-team-members {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 40px;
  gap: 50px;
}

.anopiss-team-members .anopiss-frame-aspect {
  background-image: url(assets/img/anopiss-team-frame.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  width: 100%;
  min-width: 240px;
  max-width: 280px;
  aspect-ratio: 1 / 1;
}

.anopiss-team-members .anopiss-frame-aspect .anopiss-frame-border {
  width: 100%;
  height: 100%;
  background-color: var(--sm-body);
  padding: 10px;
}

.anopiss-team-members .anopiss-frame-aspect .anopiss-frame-border .anopiss-frame-img {
  width: 100%;
}

.anopiss-member-text {
  text-align: center;
  margin-top: 15px;
}

.anopiss-member-text h3 {
  font-size: 28px;
  margin-bottom: 10px;
  color: var(--sm-primary-color);
}

.anopiss-member-text p {
  text-transform: uppercase;
  font-size: 16px;
  color: var(--sm-text);
}

/* Footer Section with Company Promo */

.footer-section {
  min-height: 500px;
  margin-top: 20px;
  padding: 30px 0;
  background-image: url(assets/img/anopiss-footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-section .footer-logo-navs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(500px - 100px);
  margin-bottom: 60px;
}

.footer-section .footer-logo-navs .footer-logo-img {
  max-width: 420px;
  padding: 0 30px;
  width: 100%;
  margin-bottom: 40px;
}

.footer-section .footer-logo-navs .footer-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-section .footer-logo-navs .footer-nav-list .footer-nav-list-item {
  margin: 2px 9px;
}

.footer-section .footer-logo-navs .footer-nav-list .footer-nav-list-item .footer-nav-link {
  padding: 4px;
  color: var(--sm-primary-color);
  text-decoration: none;
}

.copyright-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.copyright-bottom .col {
  width: 33.3%;
}

.footer-copyright {
  font-size: 18px;
  text-align: center;
  color: var(--sm-text);
}

.footer-social-list {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  gap: 30px;
  text-decoration: none;
  list-style: none;
}

.footer-copyright .footer-social-icons ul .footer-nav-link img {
  width: 100%;
}

.social-link-img {
  width: 36px;
  padding: 10px;
  background-color: #000000;
  box-shadow: 0 0 15px rgba(255, 255, 255, .4);
}


/* Anopiss Accordian Section */

.anopiss-accordion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh;
  padding: 60px 0;
}

.anopiss-accord-tabs {
  max-width: 780px;
}

.anopiss-accordion .anopiss-accord-text {
  margin-bottom: 20px;
}

.anopiss-accord-tabs .accordion {
  background-color: var(--sm-body);
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  color: var(--sm-primary-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 30px;
}

.active-tab,
.accordion:hover {
  background-color: var(--sm-body);
  box-shadow: 0 0 30px rgba(0, 0, 0, .4);
  transition: all 0.5s ease;
  color: var(--sm-primary-color);
}

.accordion:after {
  content: '\002B';
  color: var(--sm-primary-color);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-tab:after {
  content: "\2212";
}

.active-tab+.panel {
  padding: 20px 18px;
}

.panel {
  padding: 0px 18px;
  background-color: var(--sm-secondary-color);
  color: #d7d096;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



/* Animations Keyframes */

@keyframes size {
  to {
    background-position-x: 100vw;
  }
}

/* Media Queries */

@media screen and (min-width: 1201px) {
  .anopiss-roadmap-boxed .roadmap-col {
    width: calc(calc(100% / 3) - 40px);
  }
  .anopiss-roadmap-avatars {
    min-height: 90vh;
  }

  .anopiss-roadmap {
    min-height: max-content;
  }

}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .anopiss-roadmap-boxed .roadmap-col {
    width: calc(calc(100% / 3) - 40px);
  }
}

@media screen and (max-width:1024px) {

  .header-box {
    padding: 20px;
  }

  .nav-links {
    position: relative;
  }

  .nav-links .nav-list {
    display: block;
    background: linear-gradient(270.45deg, #DA9E16 -0.86%, #FFEC79 53.56%, #DA9E16 91.07%);
    position: absolute;
    transition: 0.3s;
    top: 34px;
    right: -30px;
    width: 0;
  }

  .nav-links .nav-list .nav-link {
    display: block;
    padding: 10px 20px;
    background-color: var(--sm-secondary-color);
    margin: 3px 0 3px;
  }

  .nav-links .nav-list.responsive {
    width: 280px;
    right: 0;
  }

  .nav-link-open {
    display: block;
  }

  .hero-first-img {
    max-width: 650px;
  }

  .symbol-lines-outer {
    padding: 5px 0;
    height: 34px;
  }

  .inner-lines {
    height: 24px;
  }

  .anopiss-roadmap-boxed .roadmap-col {
    margin: 0;
  }

  .border-right {
    right: 0;
  }

  .border-bottom {
    bottom: 0;
  }

  .art-circle {
    right: 0;
    bottom: 0;
    width: 80px;
  }

  .art-circle.second {
    left: 0;
    bottom: 0;
  }

  .roadmap-q-box .q-box-heading {
    font-size: 20px;
  }

  .roadmap-q-box {
    font-size: 15px;
  }
}

@media screen and (max-width:768px) {

  /* Nav Links */
  .hero-first-img {
    height: auto;
    max-width: 480px;
    width: 100%;
  }

  .header-box {
    padding: 14px;
  }

  .header-box .header-logo {
    height: 60px;
  }

  .header-container-main {
    max-height: 650px;
    height: 100%;
  }

  .hero-section {
    padding: 0 45px;
    max-height: calc(650px - 134px);
  }

  .nav-list {
    position: absolute;
    z-index: 99;
    width: 0;
  }

  .nav-list.responsive {
    width: 280px;
    display: block;
  }

  .symbol-lines-outer {
    padding: 5px 0;
    height: 34px;
  }

  .inner-lines {
    height: 24px;
  }

  .half-flex {
    min-height: 70vh;
    padding: 40px 10px;
    max-height: max-content;
    flex-direction: column-reverse;
  }

  .half-flex .col {
    width: 100%;
    padding: 30px;
  }

  .container {
    padding: 0 15px;
  }

  .upper-heading {
    font-size: 16px;
  }

  .anopiss-roadmap-text {
    margin-bottom: 40px;
  }

  .anopiss-roadmap-boxed .roadmap-col {
    width: calc(100% / 2);
  }

  .art-circle.second {
    right: 0;
    left: auto;
    transform: translate(50%, 50%);
  }

  .border-right.second {
    display: none;
  }

  .border-right.bottom.third {
    left: 0;
    top: 20%;
    border: 0;
    height: 60%;
  }

  .border-right.bottom {
    bottom: 0;
    top: 20%;
  }

  .border-right.first {
    top: 10%;
  }

  .border-bottom.last {
    display: block;
    bottom: auto;
    top: 0;
  }

  .footer-section .footer-logo-navs .footer-nav-list {
    gap: 15px;
  }

}

@media screen and (max-width:480px) {
  .hero-section {
    padding: 0 30px;
    max-height: calc(560px - 134px);
  }

  .hero-first-img {
    height: auto;
    width: 100%;
  }

  .header-container-main {
    height: 100%;
    width: 100%;
  }

  .header-box {
    padding: 10px;
  }

  .header-box .header-logo {
    height: 46px;
  }

  .symbol-lines-outer {
    padding: 5px 0;
    height: 30px;
  }

  .inner-lines {
    height: 20px;
  }

  .half-flex {
    padding: 0;
  }

  .half-flex .col {
    padding: 0;
    margin: 30px 0 20px;
  }

  .anopiss-roadmap-boxed .roadmap-col {
    width: 100%;
  }

  .border-right,
  .art-circle {
    display: none;
  }

  .border-bottom.last.second {
    display: block;
  }

  .footer-section .footer-logo-navs .footer-nav-list {
    gap: 10px;
  }

  .copyright-bottom {
    text-align: left;
    justify-content: space-between;
  }

  .copyright-bottom .col {
    width: 75%;
  }

  .copyright-bottom .col:last-child {
    width: 25%;
  }

  .footer-copyright {
    font-size: 14px;
  }

  .copyright-bottom .col:first-child {
    display: none;
  }
}